<footer id="tg-footer" class="tg-footer tg-haslayout">
  <div class="tg-haslayout tg-footerinfobox">
    <div class="tg-bgboxone"></div>
    <div class="tg-bgboxtwo"></div>
    <div class="tg-footerinfo">
      <div class="container">
        <div class="row">
          <div class="col-sm-4" style="text-align: center;">
            <div class="tg-footercol" style="    position: relative;
            bottom: 1%;">
              
               
               <div class="asd">
                    <img style="height:80px;" class="asd" src="../assets/images/md.jpeg" alt="image description">
                  </div>
              
           <h2 style="color:white;">MANAGING DIRECTOR</h2>
          
            <h2 style="color:white;">AKANSHA VANDNA KHALKHO</h2>
              <div class="tg-description" style="text-align:initial;">
                <p>  Mrs. Akansha is responsible for the overall management of the business and setting its strategic direction. She assists several Linda Sports clients in the strategic elements of their business and careers, financial and accounting activities. She has a strong knowledge of business planning, business structuring, acquisitions and succession events. She holds a Degree in Business Management (Human Resource) and Masters in Business Management
                  (Human Resource and Marketing) from the Bangalore University.</p>
              </div>
     
              
            </div>
          </div>
         
          <div class="col-sm-4">
            <div class="tg-footercol">
              <div class="tg-posttitle">
                <h3>Our Partners</h3>
              </div>
              <div class="tg-toprated">
                <ul>
                  <li>
                    <figure>
                      <a href="#">
                        <img style="height:50px;" src="../assets/images/exceptional.jpg" alt="image description">
                      </a>
                    </figure>
                    <div class="tg-productcontent">
                      <h4><a >Exceptional Players</a></h4>
                     
                    </div>
                  </li>
                  <li>
                    <figure>
                      <a href="#">
                        <img  style="height:50px;" src="../assets/images/football4all.png" alt="image description">
                      </a>
                    </figure>
                    <div class="tg-productcontent">
                      <h4><a >Football4All</a></h4>
                   
                    </div>
                  </li>
            
                </ul>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="tg-footercol">
              
               
               
                    <img style="bottom: 142px;
                    position: relative;" src="../assets/images/logo2.png" alt="image description">
                  
              
           
              <div class="tg-description" style="position: relative;
              bottom: 223px;">
                <p>Linda Sports is a sports Consulting & Management Agency providing services that are dedicated to the development and management of its clients and athletes careers in football and beyond.</p>
              </div>
              <ul class="tg-contactinfo" style="    position: relative;
              bottom: 208px;">
                <li>
                  <i class="fa fa-home"></i>
                  <address>
                    No. 1,2,3, Near Garden City College, Bhattarahalli, K.R. Puram, Bangalore, Karnataka India- 560049</address>
                </li>
                <li>
                  <i class="fa fa-envelope-o"></i>
                  <a >info@lindasports.in</a>
                </li>
                <li>
                  <i class="fa fa-phone"></i>
                  <span>+91 8073072932</span>
                </li>
              </ul>
              <div class="tg-haslayout">
                <a class="tg-btn" [routerLink]="['/about']">read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tg-footerbar">
    <div class="container">
      <span class="tg-copyright">&copy; 2017  |  All Rights Reserved</span>
      <nav class="tg-footernav">
        <ul>
          <li><a [routerLink]="['/home']">Home</a></li>
          <li><a [routerLink]="['/roster']">Roster</a></li>
          <li><a [routerLink]="['/services']">Services</a></li>
          <li><a [routerLink]="['/about']">About</a></li>
          <li><a [routerLink]="['/contact']">Contact</a></li>
          <li><a [routerLink]="['/news']">News</a></li>
       
        </ul>
      </nav>
    </div>
  </div>
</footer>