<header id="tg-header" class="tg-header tg-haslayout">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="row">
                <div class="tg-topbar tg-haslayout">
                    <nav id="tg-topaddnav" class="tg-topaddnav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-addnavigationm-mobile">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                        <div id="tg-addnavigationm-mobile" class="tg-addnavigationm-mobile collapse navbar-collapse">
                            <div class="tg-colhalf pull-right">
                                <nav class="tg-addnav">
                                 
                                </nav>
                            </div>
                            <div class="tg-colhalf">
                                <ul class="tg-socialicons">
                                    <li>
                                        <a href="https://www.facebook.com/lindasports/">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/LindaSports1">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/linda-sports-llp/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/lindasports/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <nav id="tg-nav" class="tg-nav brand-center">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
                            <i class="fa fa-bars"></i>
                        </button>
                        <strong class="tg-logo">
                            <a href="index-2.html"><img src="../assets/images/logo.png" alt="image description"></a>
                        </strong>
                    </div>
                    <div id="tg-navigation" class="tg-navigation">
                        <div class="tg-colhalf">
                            <ul>
                                <li class="active">
                                  <a [routerLink]="['/home']">Home</a>
                                   
                                </li>
                                <li>
                                    <a [routerLink]="['/roster']">Roster</a>
                                    
                                </li>
                               
                                <li>
                                    <a [routerLink]="['/news']">News</a>
                                  
                                </li>
                            </ul>
                        </div>
                        <div class="tg-colhalf">
                            <ul>
                                <li>
                                    <a [routerLink]="['/services']">Services</a>
                                   
                                </li>
                                <li>
                                    <a [routerLink]="['/contact']">Contact</a>
                                  
                                </li>
                                <li><a [routerLink]="['/about']">About</a></li>
                               
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--************************************
        Header End
*************************************-->
<!--************************************
        Banner Start
*************************************-->
<div class="tg-banner tg-haslayout">
    <div class="tg-imglayer">
        <img src="../assets/images/bg-pattran.png" alt="image desctription">
    </div>
    <div class="container">
        <div class="row">
            <div class="tg-banner-content tg-haslayout">
                <div class="tg-pagetitle">
                    <h1>about us</h1>
                </div>
                <ol class="tg-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">About Us</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
    <!--************************************
            About Us Start
    *************************************-->
    <section class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="tg-section-name">
                <h2>About LINDA SPORTS</h2>
            </div>
            <div class="col-sm-11 col-xs-11 pull-right">
                <div class="row">
                    <div class="tg-aboutussection">
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <figure>
                                    <img src="../assets/images/img-01.jpg" alt="image description">
                                </figure>
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="tg-contentbox">
                                    <div class="tg-section-heading"><h2>Established in 2017, Linda Sports is a sports Consulting & Management Agency providing services that are dedicated to the development and management of its clients and athletes careers in football and beyond.</h2></div>
                                    <div class="tg-description">
                                        <p>We look into developing and maintaining partnerships in the global Sports Industry. Taking up major role in Sports Marketing, Consultation and Player Representation in Football. Linda Sports works not only with the established professional Players & Clubs but also provides the required visibility to the hidden talents in the lower divisions.</p>

                                    </div>
                                    <!-- <div class="tg-btnbox">
                                        <a class="tg-btn" href="#"><span>read more</span></a>
                                    </div> -->
                                </div>
                            </div>
<div class="col-md-12 pt-3">
<div class="tg-contentbox">
<div class="tg-section-heading">
                                    <h2>&nbsp;</h2>
                                </div>
<div class="tg-description">
    
<p>We also have a total commitment to honesty and transparency. Not just in business, but with our clients too. So that they can make informed decision based on facts not fantasy.</p>

<p>We provide the highest quality of agency service in order to maximize your earning potential for the duration of your playing career and beyond. We ensure that we can fulfill your needs and secure the very best for you.</p>

<p>We help to enhance the image of our clients in the world of social and digital media. Offering in-house services and through our various specialist partners along with management and assistance with regards to communication with the media.</p>

<p>We offer both legal support and assistance and work with a number of reputable law firms.</p>

<p>Our integrated sports consultancy team provides specialized advice and professional services in sports marketing & management, sponsorship/PR/marketing and other niche sports related services. Coupled with our Sports Law practice, we provide unique solutions in the business of sports.</p>

<p>We provide sports management services to Committees, clubs, club owners, sports investors, athletes and sports personalities.</p>

<p>We represent and manage a diverse roster of athletes. We strive to ensure the long-term success of the athletes. We understand how essential it is for athletes to focus on training while we assist on the commercial aspects of their careers.</p>

<p>We have partners in over 10 countries across the globe, and in Europe these countries include: Spain, Italy, Germany, France, England, Netherlands, and Turkey.</p>

<p>As well as our extensive European connections we have partnerships in Thailand, Malaysia, Argentina, Brazil, Syria, Kyrgyzstan, Colombia and Africa. Which will allow us to contact clubs on your behalf anywhere in the world.</p>
</div>
</div>
</div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            About Us End
    *************************************-->
    <!--************************************
            Statistics Start
    *************************************-->
    <section class="tg-main-section tg-haslayout tg-bgdark">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="tg-statistics">
                        <div class="tg-statistic tg-goals">
                            <span class="tg-icon icon-Icon1"></span>
                            <h2><span class="tg-statistic-count" data-from="0" data-to="2700" data-speed="8000" data-refresh-interval="50">2700</span></h2>
                            <h3>Goals</h3>
                        </div>
                        <div class="tg-statistic tg-activeplayers">
                            <span class="tg-icon icon-Icon2"></span>
                            <h2><span class="tg-statistic-count" data-from="0" data-to="1673" data-speed="8000" data-refresh-interval="50">1673</span></h2>
                            <h3>Active Players</h3>
                        </div>
                        <div class="tg-statistic tg-activeteams">
                            <span class="tg-icon icon-Icon3"></span>
                            <h2><span class="tg-statistic-count" data-from="0" data-to="236" data-speed="8000" data-refresh-interval="50">236</span></h2>
                            <h3>Active Teams</h3>
                        </div>
                        <div class="tg-statistic tg-earnedawards">
                            <span class="tg-icon icon-Icon4"></span>
                            <h2><span class="tg-statistic-count" data-from="0" data-to="197" data-speed="8000" data-refresh-interval="50">197</span></h2>
                            <h3>Earned Awards</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Statistics End
    *************************************-->
    <!--************************************
            Pre Score Histroty Start
    *************************************-->
    <section class="tg-main-section tg-haslayout">
        <div class="container">
            <div class="tg-section-name">
                <h2>pro soccer History</h2>
            </div>
            <div class="col-sm-11 col-xs-11 pull-right">
                <div class="row">
                    <div class="tg-prohistory tg-border-top tg-haslayout">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <article class="tg-post">
                                    <figure class="tg-postimg">
                                        <a class="tg-playbtn" href="https://youtu.be/a0ksVaLlaIw?iframe=true" data-rel="prettyPhoto[iframe]"></a>
                                        <img src="../assets/images/history-section/img-01.jpg" alt="image description">
                                        <figcaption>
                                            <ul class="tg-postmetadata">
                                                <li><a href="#">posted on may 24, 1998</a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tg-posttitle">
                                        <h3><a href="#">iusmod tempor incidi labore et dolore</a></h3>
                                    </div>
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit sed do eiusmod temport incididunt utiaie et dolore magna aliqua enimatam veniam quistrud</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <article class="tg-post">
                                    <figure class="tg-postimg">
                                        <img src="../assets/images/history-section/img-02.jpg" alt="image description">
                                        <figcaption>
                                            <ul class="tg-postmetadata">
                                                <li><a href="#">posted on may 24, 1998</a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tg-posttitle">
                                        <h3><a href="#">magna aliqua Ut enim ad minim veniam</a></h3>
                                    </div>
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit sed do eiusmod temport incididunt utiaie et dolore magna aliqua enimatam veniam quistrud</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <article class="tg-post">
                                    <figure class="tg-postimg">
                                        <img src="../assets/images/history-section/img-03.jpg" alt="image description">
                                        <figcaption>
                                            <ul class="tg-postmetadata">
                                                <li><a href="#">posted on may 24, 1998</a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tg-posttitle">
                                        <h3><a href="#">quis nostrud exercit alamco laboris</a></h3>
                                    </div>
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit sed do eiusmod temport incididunt utiaie et dolore magna aliqua enimatam veniam quistrud</p>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-6">
                                <article class="tg-post">
                                    <figure class="tg-postimg">
                                        <img src="../assets/images/history-section/img-04.jpg" alt="image description">
                                        <figcaption>
                                            <ul class="tg-postmetadata">
                                                <li><a href="#">posted on may 24, 1998</a></li>
                                            </ul>
                                        </figcaption>
                                    </figure>
                                    <div class="tg-posttitle">
                                        <h3><a href="#">nisi ut aliquip exeado Duis aute irure</a></h3>
                                    </div>
                                    <div class="tg-description">
                                        <p>Consectetur adipisicing elit sed do eiusmod temport incididunt utiaie et dolore magna aliqua enimatam veniam quistrud</p>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--************************************
            Pre Score Histroty End
    *************************************-->
    <!--************************************
            Video Start
    *************************************-->
    <section class="tg-videobox tg-haslayout">
        <figure>
            <img src="../assets/images/bg-video.jpg" alt="image description">
            <figcaption>
                <a class="tg-playbtn" href="https://youtu.be/a0ksVaLlaIw?iframe=true" data-rel="prettyPhoto[iframe]"></a>
                <h2>accusantium doloremque lauda totam rem aperiam ipsa</h2>
            </figcaption>
        </figure>
    </section>
    <!--************************************
            Video End
    *************************************-->
    <!--************************************
            Top Rated Player Start
    *************************************-->

    <!--************************************
            Top Rated Player End
    *************************************-->
    <!--************************************
            Testimonials Start

    <!--************************************
            Testimonials End
    *************************************-->
    <!--************************************
            Our Sponser Start
    *************************************-->
   
    <!--************************************
            Our Sponser End
    *************************************-->
</main>