<header id="tg-header" class="tg-header tg-haslayout">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="row">
                <div class="tg-topbar tg-haslayout">
                    <nav id="tg-topaddnav" class="tg-topaddnav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-addnavigationm-mobile">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                        <div id="tg-addnavigationm-mobile" class="tg-addnavigationm-mobile collapse navbar-collapse">
                            <div class="tg-colhalf pull-right">
                                <nav class="tg-addnav">
                                 
                                </nav>
                            </div>
                            <div class="tg-colhalf">
                                <ul class="tg-socialicons">
                                    <li>
                                        <a href="https://www.facebook.com/lindasports/">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/LindaSports1">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/linda-sports-llp/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/lindasports/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <nav id="tg-nav" class="tg-nav brand-center">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
                            <i class="fa fa-bars"></i>
                        </button>
                        <strong class="tg-logo">
                            <a href="index-2.html"><img style="height:192px;" src="../assets/images/logo.png" alt="image description"></a>
                        </strong>
                    </div>
                    <div id="tg-navigation" class="tg-navigation">
                        <div class="tg-colhalf">
                            <ul>
                                <li class="active">
                                  <a [routerLink]="['/home']">Home</a>
                                   
                                </li>
                                <li>
                                    <a [routerLink]="['/roster']">Roster</a>
                                    
                                </li>
                               
                                <li>
                                    <a [routerLink]="['/news']">News</a>
                                  
                                </li>
                            </ul>
                        </div>
                        <div class="tg-colhalf">
                            <ul>
                                <li>
                                    <a [routerLink]="['/services']">Services</a>
                                   
                                </li>
                                <li>
                                    <a [routerLink]="['/contact']">Contact</a>
                                  
                                </li>
                                <li><a [routerLink]="['/about']">About</a></li>
                                <li>
                                    <a [routerLink]="['/academy']">Academy</a>
                                  
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--************************************
        Header End
*************************************-->
<!--************************************
        Banner Start
*************************************-->
<div class="tg-banner tg-haslayout">
    <div class="tg-imglayer">
        <img src="../assets/images/bg-pattran.png" alt="image desctription">
    </div>
    <div class="container">
        <div class="row">
            <div class="tg-banner-content tg-haslayout">
                <div class="tg-pagetitle">
                        <h1>contact</h1>
                </div>
                <ol class="tg-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">contact</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-paddingbottom-zero tg-haslayout">
    <section class="tg-main-section tg-paddingbottom-zero tg-haslayout">
        <div class="container">
            <div class="tg-section-name">
                <h2>contact</h2>
            </div>
            <div class="col-sm-11 col-xs-11 pull-right">
                <div class="row">
                    <div class="tg-contactus tg-haslayout">
                        <div class="row">
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="tg-contactinfobox">
                                    <div class="tg-section-heading"><h2>feel free to send us your queries, Suggestion &amp; Remarks</h2></div>
                                
                                    <ul class="tg-contactinfo">
                                        <li>
                                            <i class="fa fa-map-marker"></i>
                                            <address>No. 1,2,3, Near Garden City College, Bhattarahalli, K.R. Puram, Bangalore, Karnataka India- 560049</address>
                                        </li>
                                        <li>
                                            <i class="fa fa-phone"></i>
                                            <span>+91 8073072932</span>
                                        </li>
                                        <li>
                                            <i class="fa fa-envelope-o"></i>
                                            <a href="info@lidasport.in">lindasportsmanagement@gmail.com</a>,<br>
                                            <a href="info@lidasport.in">info@lidasport.in</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-facebook-f"></i>
                                            <a href="info%40domain.html">@lindasports</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-instagram"></i>
                                            <a href="info%40domain.html">@lindasports</a>
                                        </li>
                                        <li>
                                            <i class="fa fa-twitter"></i>
                                            <a href="info%40domain.html">@LindaSports1</a>
                                        </li>
                                        
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12 col-xs-12">
                                <form action="#" method="post" class="tg-commentform help-form" id="tg-commentform">
                                    <fieldset>
                                        <div class="form-group">
                                            <input type="text" required="" placeholder="Name*" class="form-control" name="contact[name]">
                                        </div>
                                        <div class="form-group">
                                            <input type="email" required="" placeholder="Email*" class="form-control" name="contact[email]">
                                        </div>
                                        <div class="form-group">
                                            <div class="tg-select">
                                                <select name="contact[type]">
                                                    <option value="">Message Type*</option>
                                                    <option value="Help">Discussion</option>
                                                    <option value="Help">Help</option>
                                                    <option value="Consutation">Consutation</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <textarea required placeholder="Message*" name="contact[message]"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="tg-btn submit-now">send</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</main>