<div id="tg-wrapper" class="tg-wrapper tg-haslayout">
    <!--************************************
            Main Start
    *************************************-->
    <main id="tg-main" class="tg-main tg-haslayout">
        <div class="tg-comming-sooncontent">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        <div id="tg-comming-sooncounter" class="tg-comming-sooncounter">
                            <div id="days" class="timer_box"></div>
                            <div id="hours" class="timer_box"></div>
                            <div id="minutes" class="timer_box"></div>
                            <div id="seconds" class="timer_box"></div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="tg-404-content">
                            <div class="tg-section-heading"><h2>oops! something went wrong. page not found.</h2></div>
                            <div class="tg-description">
                                <p>Consectetur adipisicing elit sed do eiusmod temport incididunt utia labore et dolore magna aliqua enima ad minim veniam quistrud on ullamco laboris nisiut aliquip ex ea commodo consequat.</p>
                            </div>
                            <form class="tg-searcharea">
                                <fieldset>
                                    <div class="form-group">
                                        <input type="email" placeholder="Email">
                                    </div>
                                    <button type="submit" class="tg-btn">signup</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!--************************************
            Main End
    *************************************-->
</div>