	<header id="tg-header" class="tg-header tg-haslayout">
			<div class="container">
				<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
					<div class="row">
						<div class="tg-topbar tg-haslayout">
							<nav id="tg-topaddnav" class="tg-topaddnav">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-addnavigationm-mobile">
										<i class="fa fa-arrow-right"></i>
									</button>
								</div>
								<div id="tg-addnavigationm-mobile" class="tg-addnavigationm-mobile collapse navbar-collapse">
									<div class="tg-colhalf pull-right">
										<nav class="tg-addnav">
											
										</nav>
									</div>
									<div class="tg-colhalf">
										<ul class="tg-socialicons">
											<li>
												<a href="https://www.facebook.com/lindasports/">
													<i class="fa fa-facebook"></i>
												</a>
											</li>
											<li>
												<a href="https://twitter.com/LindaSports1">
													<i class="fa fa-twitter"></i>
												</a>
											</li>
											<li>
												<a href="https://www.linkedin.com/company/linda-sports-llp/">
													<i class="fa fa-linkedin"></i>
												</a>
											</li>
											<li>
												<a href="https://www.instagram.com/lindasports/">
													<i class="fa fa-instagram"></i>
												</a>
											</li>
											<li>
												<a href="#">
													<i class="fa fa-dribbble"></i>
												</a>
											</li>
										</ul>
									</div>
								</div>
							</nav>
						</div>
						<nav id="tg-nav" class="tg-nav brand-center">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
									<i class="fa fa-bars"></i>
								</button>
								<strong class="tg-logo">
									<a href="index-2.html"><img style="height:192px;" src="../assets/images/logo.png" alt="image description"></a>
								</strong>
							</div>
                            <div id="tg-navigation" class="tg-navigation">
								<div class="tg-colhalf">
									<ul>
										<li class="active">
										  <a [routerLink]="['/home']">Home</a>
										   
										</li>
										<li>
											<a [routerLink]="['/roster']">Roster</a>
											
										</li>
									   
										<li>
											<a [routerLink]="['/news']">News</a>
										  
										</li>
									
									</ul>
								</div>
								<div class="tg-colhalf">
									<ul>
										<li>
											<a [routerLink]="['/services']">Services</a>
										   
										</li>
										<li>
											<a [routerLink]="['/contact']">Contact</a>
										  
										</li>
										<li><a [routerLink]="['/about']">About</a></li>
										<li>
											<a [routerLink]="['/academy']">Academy</a>
										  
										</li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<!--************************************
				Header End
		*************************************-->
		<!--************************************
				Banner Start
		*************************************-->
		<div class="tg-banner tg-haslayout">
			<div class="tg-imglayer">
				<img src="../assets/images/bg-pattran.png" alt="image desctription">
			</div>
			<div class="container">
				<div class="row">
					<div class="tg-banner-content tg-haslayout">
						<div class="tg-pagetitle">
							<h1>Meet the team</h1>
						</div>
						<ol class="tg-breadcrumb">
							<li><a href="#">Home</a></li>
							<li class="active">Team</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!--************************************
				Banner End
		*************************************-->
		<!--************************************
				Main Start
		*************************************-->
		<main id="tg-main" class="tg-main tg-haslayout">
			<!--************************************
					Top Rated Player Start
			*************************************-->
			<section class="tg-main-section">
				<div class="container">
					<div class="tg-section-name">
						<h2>Players</h2>
					</div>
					<div class="col-sm-11 col-xs-11 pull-right">
						
						  <div class="row">
							<div class="col">
					<div class="flip-card">
					<div class="flip-card-inner">
					  <div class="flip-card-front">
						<img src="../assets/team/front/1.png" alt="Avatar" style="width:200px;height:200px;">
					  </div>
					  <div class="flip-card-back">
						<img src="../assets/team/back/1.png" alt="Avatar" style="width:200px;height:200px;">
					  </div>
					</div>
					</div>
							 <!--  <div class="player mb-5">
								<span class="team-number">10</span>
								<img src="images/img_1_sq.jpg" alt="Image" class="img-fluid image rounded-circle">
								<h2>Guzman</h2>
								<span class="position">Coach</span>
							  </div> -->
							</div>
							<!-- col -->
				  
				  
							  <div class="col">
					<div class="flip-card">
					<div class="flip-card-inner">
					  <div class="flip-card-front">
						<img src="../assets/team/front/2.png" alt="Avatar" style="width:200px;height:200px;">
					  </div>
					  <div class="flip-card-back">
						<img src="../assets/team/back/2.png" alt="Avatar" style="width:200px;height:200px;">
					  </div>
					</div>
					</div>
							 <!--  <div class="player mb-5">
								<span class="team-number">10</span>
								<img src="images/img_1_sq.jpg" alt="Image" class="img-fluid image rounded-circle">
								<h2>Guzman</h2>
								<span class="position">Coach</span>
							  </div> -->
							</div>
							<!-- col -->
				  
				  
				  
							  <div class="col">
					<div class="flip-card">
					<div class="flip-card-inner">
					  <div class="flip-card-front">
						<img src="../assets/team/front/3.png" alt="Avatar" style="width:200px;height:200px;">
					  </div>
					  <div class="flip-card-back">
						<img src="../assets/team/back/3.png" alt="Avatar" style="width:200px;height:200px;">
					  </div>
					</div>
					</div>
							 <!--  <div class="player mb-5">
								<span class="team-number">10</span>
								<img src="images/img_1_sq.jpg" alt="Image" class="img-fluid image rounded-circle">
								<h2>Guzman</h2>
								<span class="position">Coach</span>
							  </div> -->
							</div>
							<!-- col -->
				  
				  
							  <div class="col">
					<div class="flip-card">
					<div class="flip-card-inner">
					  <div class="flip-card-front">
						<img src="../assets/team/front/4.png" alt="Avatar" style="width:200px;height:200px;">
					  </div>
					  <div class="flip-card-back">
						<img src="../assets/team/back/4.png" alt="Avatar" style="width:200px;height:200px;">
					  </div>
					</div>
					</div>
							 <!--  <div class="player mb-5">
								<span class="team-number">10</span>
								<img src="images/img_1_sq.jpg" alt="Image" class="img-fluid image rounded-circle">
								<h2>Guzman</h2>
								<span class="position">Coach</span>
							  </div> -->
							</div>
							<!-- col -->
						   
						  </div>
						  
						  <div class="row pt-12">
							<div class="col">
					<div class="flip-card">
					<div class="flip-card-inner">
					  <div class="flip-card-front">
						<img src="../assets/team/front/5.png" alt="Avatar" style="width:200px;height:200px;">
					  </div>
					  <div class="flip-card-back">
						<img src="../assets/team/back/5.png"  alt="Avatar" style="width:200px;height:200px;">
					  </div>
					</div>
					</div>
							 <!--  <div class="player mb-5">
								<span class="team-number">10</span>
								<img src="images/img_1_sq.jpg" alt="Image" class="img-fluid image rounded-circle">
								<h2>Guzman</h2>
								<span class="position">Coach</span>
							  </div> -->
							</div>
							<div class="col">
								<div class="flip-card">
								<div class="flip-card-inner">
								  <div class="flip-card-front">
									<img src="../assets/team/front/6.png" alt="Avatar" style="width:200px;height:200px;">
								  </div>
								  <div class="flip-card-back">
									<img src="../assets/team/back/6.png"  alt="Avatar" style="width:200px;height:200px;">
								  </div>
								</div>
								</div>
										 <!--  <div class="player mb-5">
											<span class="team-number">10</span>
											<img src="images/img_1_sq.jpg" alt="Image" class="img-fluid image rounded-circle">
											<h2>Guzman</h2>
											<span class="position">Coach</span>
										  </div> -->
										</div>
										<div class="col">
											<div class="flip-card">
											<div class="flip-card-inner">
											  <div class="flip-card-front">
												<img src="../assets/team/front/7.png" alt="Avatar" style="width:200px;height:200px;">
											  </div>
											  <div class="flip-card-back">
												<img src="../assets/team/back/7.png"  alt="Avatar" style="width:200px;height:200px;">
											  </div>
											</div>
											</div>
													 <!--  <div class="player mb-5">
														<span class="team-number">10</span>
														<img src="images/img_1_sq.jpg" alt="Image" class="img-fluid image rounded-circle">
														<h2>Guzman</h2>
														<span class="position">Coach</span>
													  </div> -->
													</div>
													<div class="col">
														<div class="flip-card">
														<div class="flip-card-inner">
														  <div class="flip-card-front">
															<img src="../assets/team/front/8.png" alt="Avatar" style="width:200px;height:200px;">
														  </div>
														  <div class="flip-card-back">
															<img src="../assets/team/back/8.png"  alt="Avatar" style="width:200px;height:200px;">
														  </div>
														</div>
														</div>
																 <!--  <div class="player mb-5">
																	<span class="team-number">10</span>
																	<img src="images/img_1_sq.jpg" alt="Image" class="img-fluid image rounded-circle">
																	<h2>Guzman</h2>
																	<span class="position">Coach</span>
																  </div> -->
																</div>
							<!-- col -->
						   
							
							
						  </div>
						  <div class="row pt-12">
							<div class="col">
					<div class="flip-card">
					<div class="flip-card-inner">
					  <div class="flip-card-front">
						<img src="../assets/team/front/9.png" alt="Avatar" style="width:200px;height:200px;">
					  </div>
					  <div class="flip-card-back">
						<img src="../assets/team/back/9.png"  alt="Avatar" style="width:200px;height:200px;">
					  </div>
					</div>
					</div>
					
							 <!--  <div class="player mb-5">
								<span class="team-number">10</span>
								<img src="images/img_1_sq.jpg" alt="Image" class="img-fluid image rounded-circle">
								<h2>Guzman</h2>
								<span class="position">Coach</span>
							  </div> -->
							</div>
					
							<div class="col">
								<div class="flip-card">
								<div class="flip-card-inner">
								  <div class="flip-card-front">
									<img src="../assets/team/front/10.png" alt="Avatar" style="width:200px;height:200px;">
								  </div>
								  <div class="flip-card-back">
									<img src="../assets/team/back/10.png" alt="Avatar" style="width:200px;height:200px;">
								  </div>
								</div>
								</div>
										 <!--  <div class="player mb-5">
											<span class="team-number">10</span>
											<img src="images/img_1_sq.jpg" alt="Image" class="img-fluid image rounded-circle">
											<h2>Guzman</h2>
											<span class="position">Coach</span>
										  </div> -->
										</div>	
							<!-- col -->
							<div class="col">
								<div class="flip-card">
								<div class="flip-card-inner">
								  <div class="flip-card-front">
									<img src="../assets/team/front/11.png" alt="Avatar" style="width:200px;height:200px;">
								  </div>
								  <div class="flip-card-back">
									<img src="../assets/team/back/11.png" alt="Avatar" style="width:200px;height:200px;">
								  </div>
								</div>
								</div>
										 <!--  <div class="player mb-5">
											<span class="team-number">10</span>
											<img src="images/img_1_sq.jpg" alt="Image" class="img-fluid image rounded-circle">
											<h2>Guzman</h2>
											<span class="position">Coach</span>
										  </div> -->
										</div>
							
							
						  </div>
					</div>
				</div>
			</section>
			<!--************************************
					Top Rated Player End
			*************************************-->
			<!--************************************
					Testimonials Start
			*************************************-->
		
			<!--************************************
					Testimonials End
			*************************************-->
			<!--************************************
					Our Sponser Start
			*************************************-->
			
			<!--************************************
					Our Sponser End
			*************************************-->
		</main>