<header id="tg-header" class="tg-header tg-haslayout">
	<div class="container">
		<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
			<div class="row">
				<div class="tg-topbar tg-haslayout">
					<nav id="tg-topaddnav" class="tg-topaddnav">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-addnavigationm-mobile">
								<i class="fa fa-arrow-right"></i>
							</button>
						</div>
						<div id="tg-addnavigationm-mobile" class="tg-addnavigationm-mobile collapse navbar-collapse">
							<div class="tg-colhalf pull-right">
								<nav class="tg-addnav">
									
								</nav>
							</div>
							<div class="tg-colhalf">
								<ul class="tg-socialicons">
									<li>
										<a href="https://www.facebook.com/lindasports/">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
									<li>
										<a href="https://twitter.com/LindaSports1">
											<i class="fa fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="https://www.linkedin.com/company/linda-sports-llp/">
											<i class="fa fa-linkedin"></i>
										</a>
									</li>
									<li>
										<a href="https://www.instagram.com/lindasports/">
											<i class="fa fa-instagram"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa fa-dribbble"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
				<nav id="tg-nav" class="tg-nav brand-center">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
							<i class="fa fa-bars"></i>
						</button>
						<strong class="tg-logo">
							<a href="index-2.html"><img src="../assets/images/logo.png" alt="image description"></a>
						</strong>
					</div>
					<div id="tg-navigation" class="tg-navigation">
						<div class="tg-colhalf">
							<ul>
								<li class="active">
								  <a [routerLink]="['/home']">Home</a>
								   
								</li>
								<li>
									<a [routerLink]="['/roster']">Roster</a>
									
								</li>
							   
								<li>
									<a [routerLink]="['/news']">News</a>
								  
								</li>
							</ul>
						</div>
						<div class="tg-colhalf">
							<ul>
								<li>
									<a [routerLink]="['/services']">Services</a>
								   
								</li>
								<li>
									<a [routerLink]="['/contact']">Contact</a>
								  
								</li>
								<li><a [routerLink]="['/about']">About</a></li>
							   
							</ul>
						</div>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>
<!--************************************
		Header End
*************************************-->
<!--************************************
		Banner Start
*************************************-->
<div class="tg-banner tg-haslayout">
	<div class="tg-imglayer">
		<img src="../assets/images/bg-pattran.png" alt="image desctription">
	</div>
	<div class="container">
		<div class="row">
			<div class="tg-banner-content tg-haslayout">
				<div class="tg-pagetitle">
					<h1>News</h1>
				</div>
				<ol class="tg-breadcrumb">
					<li><a href="#">Home</a></li>
					<li class="active">News</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<!--************************************
		Banner End
*************************************-->
<!--************************************
		Main Start
*************************************-->
<main id="tg-main" class="tg-main tg-haslayout">
	<div class="tg-main-section tg-haslayout">
		<div class="container">
			<div class="row">
				<div class="tg-section-name">
					<h2>Latest blogs / News</h2>
				</div>
				<div class="col-sm-11 col-xs-11 pull-right">
					<div class="tg-blogpost tg-blogpostlist">
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<article class="tg-post">
									<figure class="tg-postimg">
										<a href="#">
											<img style="width:fit-content;height:250px;" src="https://iftwc.com/wp-content/uploads/2020/05/Partnership-1920x1080-4.png" alt="image description">
										</a>
										<figcaption>
											<ul class="tg-postmetadata">
												<li><a href="#">by admin</a></li>
												<li><a href="#">04 comments</a></li>
												<li><a href="#">Partnership</a></li>
											</ul>
										</figcaption>
									</figure>
									<div class="tg-posttitle"><h3><a href="#">Linda Sports signs a new partnership deal</a></h3></div>
									<div class="tg-description">
										<p>Football4All and Exceptional Players have penned down a deal with Linda Sports LLP, marking a move in Indian football.</p>
									</div>
									<a class="tg-btn" href="https://iftwc.com/linda-sports-signs-a-new-partnership-deal-with-football4all-and-exceptional-players/">Read more</a>
								</article>
							</div>
							<div class="col-sm-6 col-xs-12">
								<article class="tg-post">
									<figure class="tg-postimg">
										<a href="#">
											<img  style="width:fit-content;height:250px;" src="https://thebridge.in/wp-content/uploads/2020/04/football-ground-ajmeri-gate-nagaur-nagaur-football-coaching-classes-mifj9sxx9l-696x457.jpg" alt="image description">
										</a>
										<figcaption>
											<ul class="tg-postmetadata">
												<li><a href="#">by admin</a></li>
												<li><a href="#">04 comments</a></li>
												<li><a href="#">football</a></li>
											</ul>
										</figcaption>
									</figure>
									<div class="tg-posttitle"><h3><a href="#">Bangalore-based Linda Sports signs two new..</a></h3></div>
									<div class="tg-description">
										<p>Football4All and Exceptional Players have penned down a deal with Linda Sports LLP, marking a move in Indian football. Exceptional Players is an organization that focuses on professional football.</p>
									</div>
									<a class="tg-btn" href="https://thebridge.in/football/bangalore-based-linda-sports-signs-two-new-international-partnerships/"><span>read more</span></a>
								</article>
							</div>
						
						
						</div>
					</div>
					<ul class="tg-pagination">
						<li class="tg-prevpage"><a ><i class="fa fa-angle-left"></i></a></li>
						<li class="active"><a >1</a></li>
						<li><a >1</a></li>
						<li class="tg-nextpage"><a ><i class="fa fa-angle-right"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</main>