<header id="tg-header" class="tg-header tg-haslayout">
    <div class="container">
        <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
            <div class="row">
                <div class="tg-topbar tg-haslayout">
                    <nav id="tg-topaddnav" class="tg-topaddnav">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-addnavigationm-mobile">
                                <i class="fa fa-arrow-right"></i>
                            </button>
                        </div>
                        <div id="tg-addnavigationm-mobile" class="tg-addnavigationm-mobile collapse navbar-collapse">
                            <div class="tg-colhalf pull-right">
                                <nav class="tg-addnav">
                                   
                                </nav>
                            </div>
                            <div class="tg-colhalf">
                                <ul class="tg-socialicons">
                                    <li>
                                        <a href="https://www.facebook.com/lindasports/">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/LindaSports1">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/company/linda-sports-llp/">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/lindasports/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-dribbble"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
                <nav id="tg-nav" class="tg-nav brand-center">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigationm-mobile">
                            <i class="fa fa-bars"></i>
                        </button>
                        <strong class="tg-logo">
                            <a href="index-2.html"><img src="../assets/images/logo.png" alt="image description"></a>
                        </strong>
                    </div>
                    <div id="tg-navigation" class="tg-navigation">
                        <div class="tg-colhalf">
                            <ul>
                                <li class="active">
                                  <a [routerLink]="['/home']">Home</a>
                                   
                                </li>
                                <li>
                                    <a [routerLink]="['/roster']">Roster</a>
                                    
                                </li>
                               
                                <li>
                                    <a [routerLink]="['/news']">News</a>
                                  
                                </li>
                            </ul>
                        </div>
                        <div class="tg-colhalf">
                            <ul>
                                <li>
                                    <a [routerLink]="['/services']">Services</a>
                                   
                                </li>
                                <li>
                                    <a [routerLink]="['/contact']">Contact</a>
                                  
                                </li>
                                <li><a [routerLink]="['/about']">About</a></li>
                               
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!--************************************
        Header End
*************************************-->
<!--************************************
        Banner Start
*************************************-->
<div class="tg-banner tg-haslayout">
    <div class="tg-imglayer">
        <img src="../assets/images/bg-pattran.png" alt="image desctription">
    </div>
    <div class="container">
        <div class="row">
            <div class="tg-banner-content tg-haslayout">
                <div class="tg-pagetitle">
                    <h1>Our Services</h1>
                </div>
                <ol class="tg-breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Services</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!--************************************
        Banner End
*************************************-->
<!--************************************
        Main Start
*************************************-->

<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div id="tg-twocolumns" class="tg-twocolumns tg-main-section tg-haslayout">
                <div class="col-sm-12 col-xs-12 pull-left">
                    <div class="tg-player-detail tg-haslayout">
                        <div class="tg-player-data tg-haslayout">
                            <div class="tg-player-info tg-haslayout">
                                <div class="row pb-30 ">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="tg-widget tg-imagewidget">
                                            <figure>
                                                <img src="../assets/images/Digital.jpg" alt="image description">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <div class="tg-playcontent">
                                            <a href="#" class="tg-theme-tag">Sports Marketing</a>
                                            <h3><a href="#">Sports Marketing</a></h3>
                                            
                                        </div>
                                           <div class="tg-description">
                                        <p>Our integrated sports consultancy team provides specialized advice and professional services in sports marketing & management, sponsorship/PR/marketing and other niche sports related services. Coupled with our Sports Law practice, we provide unique solutions in the business of sports.</p>
                                        <p><strong>Our services in the field of sports marketing notably include the following:</strong></p>
                                        <ul class="service-list">
                                        <li>Development and implementation of brand strategies and marketing plans for organizations, sports clubs and athletes;</li>
                                        <li>Contracting of sponsors for sports, cultural and social events;</li>
                                        <li>Assistance in activation and accompaniment of sponsorship rights;</li>
                                        <li>Sports brand development and support;</li>
                                        <li>Sports corporate hospitality services.</li>
                                        </ul>

                                        <p>We work with our clients and partners to bring unmatched experience in the world of sports. Our assistance in sports marketing includes sourcing business opportunities, liaising with rights holders and event organizers, advising on development of a lean marketing structure and sponsorship strategy through multiple formats, as well as assisting with activation and supervising of marketing plan implementation.
                                        </p>
                                 </div>	
                                        
                                    </div>
                                </div>
                                <!-- row -->

                                <div class="row pb-30 ">
                                    <div class="col-sm-8 col-xs-12">
                                        <div class="tg-playcontent">
                                            <a href="#" class="tg-theme-tag">Sports Management</a>
                                            <h3><a href="#">Sports Management</a></h3>
                                            
                                        </div>
                                           <div class="tg-description">
                                        <p>We provide sports management services to Committees, clubs, club owners, sports investors, athletes and sports personalities.</p>
                                        <p><strong>We offer the following services in the field of sports management:</strong></p>
                                        <ul class="service-list">
                                        <li>Sports event production and management;</li>
                                        <li>Consulting of rights holders and sports apparel manufacturers;</li>
                                        <li>Athlete portfolio management and representation;</li>
                                        <li>Notably, we support and develop IT platforms and databases to record, store and analyze practicing and performing of young players in football and other sports.</li>
                                        </ul>

                                        <p>As a sports management firm, we are committed to a long-term relationship aimed at maximizing of commercial opportunities of our clients. We have an unparalleled industry knowledge and experience in the area of sports business.</p>
                                 </div>	
                                        
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="tg-widget tg-imagewidget">
                                            <figure>
                                                <img src="../assets/images/Digital.jpg" alt="image description">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- row -->

                                <div class="row pb-30 ">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="tg-widget tg-imagewidget">
                                            <figure>
                                                <img src="../assets/images/Athlete.jpg" alt="image description">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <div class="tg-playcontent">
                                            <a href="#" class="tg-theme-tag">Athletes Representation</a>
                                            <h3><a href="#">Athletes Representation</a></h3>
                                            
                                        </div>
                                           <div class="tg-description">
                                        <p>We represent and manage a diverse roster of athletes. We strive to ensure the long-term success of the athletes. We understand how essential it is for athletes to focus on training while we assist on the commercial aspects of their careers.</p>
                                        <p><strong>Through the combination of a unique set of skills and deep understanding of the world of sports we address the diverse needs of our clients, offering the following services:</strong></p>
                                        <ul class="service-list">
                                        <li>Athlete portfolio management and representation in contract negotiations;</li>
                                        <li>PR management, dealing with sponsors and sourcing endorsement opportunities;</li>
                                        <li>Assisting in player-agent relations and transfers;</li>
                                        <li>Assistance in endorsement, image and broadcasting, sponsorship and merchandising deals;</li>
                                        <li>Asset planning and wealth management, including residence and tax issues.</li>
                                        </ul>

                                        <p>Our goal is to ensure that our clients’ rights are protected and their deals are executed in their best interest, in line with their career objectives and sports image.
                                        </p>
                                 </div>	
                                        
                                    </div>
                                </div>
                                <!-- row -->

                                <div class="row pb-30 ">
                                    <div class="col-sm-8 col-xs-12">
                                        <div class="tg-playcontent">
                                            <a href="#" class="tg-theme-tag">Sports Event Management</a>
                                            <h3><a href="#">Sports Event Management</a></h3>
                                            
                                        </div>
                                           <div class="tg-description">
                                        <p><strong>Within the framework of our sports consultancy practice we broadly cover a vast range of sports industry related event management services, including the following:</strong></p>
                                        <ul class="service-list">
                                        <li>Advising on sports event and venue management;</li>
                                        <li>Organizing sports-related exhibitions and media events;</li>
                                        <li>Organizing sports seminars and workshops;</li>
                                        <li>Creation and integration of an IT-platform and games management system for sports events (accreditation, sport entries, transport, logistics, catering and integration of IT-platform with the games results systems).</li>
                                        </ul>

                                        <p>Our dedicated sports industry practice and extensive network of partners and specialists in the field of sports allows Linda Sports to offer a complete set of solutions for the sports event organizers.</p>
                                 </div>	
                                        
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="tg-widget tg-imagewidget">
                                            <figure>
                                                <img src="../assets/images/event.jpg" alt="image description">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- row -->

                                <div class="row pb-30 ">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="tg-widget tg-imagewidget">
                                            <figure>
                                                <img src="../assets/images/corporate.jpg" alt="image description">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <div class="tg-playcontent">
                                            <a href="#" class="tg-theme-tag">Corporate & Commercial</a>
                                            <h3><a href="#">Corporate & Commercial</a></h3>
                                            
                                        </div>
                                           <div class="tg-description">
                                        <p>We advise a wide range of clients across various industries on legal matters arising at all stages of the business lifecycle. Our strength lies in our deep understanding of the local regulatory environment and expertise in the specifics of the jurisdiction.</p>
                                        <p><strong>Our expertise in the field of corporate & commercial practice notably includes:
                                           </strong></p>
                                        <ul class="service-list">
                                        <li>Advising on licensing, regulatory and tax regimes;</li>
                                        <li>Advising on corporate structuring and restructuring;</li>
                                        <li>Drafting shareholders, joint-venture and profit sharing agreements;</li>
                                        <li>Drafting a broad variety of commercial agreements and related transactional documents, including acquisition, sales & purchase, franchising, distributorship, agency, dealership, license and service agreements;</li>
                                        <li>Advising on employment regulations.</li>
                                        </ul>

                                        <p>We strive to provide a one-stop-shop solution to our clients. Our assistance is complemented by ongoing administrative support and a full scope of corporate secretarial services.</p>

                                        <p>Our corporate & commercial work oftentimes is the starting point for a long and fruitful relationship, expanding into other areas of Linda Sports specialization.</p>
                                 </div>	
                                        
                                    </div>
                                </div>
                                <!-- row -->

                                <div class="row pb-30 ">
                                    <div class="col-sm-8 col-xs-12">
                                        <div class="tg-playcontent">
                                            <a href="#" class="tg-theme-tag">Dispute Resolution</a>
                                            <h3><a href="#">Dispute Resolution</a></h3>
                                            
                                        </div>
                                           <div class="tg-description">
                                        <p><strong>In association with a local law firm, our dispute resolution practice extends to mediation, arbitration, litigation and all types of disputes resolution services across various industries and matters, including:</strong></p>
                                        <ul class="service-list">
                                        <li>Real estate investments and construction disputes;</li>
                                        <li>Joint-venture, shareholder disputes and other company/corporate related issues;</li>
                                        <li>Wide range of commercial, banking & finance disputes;</li>
                                        <li>Disputes relating to sale of goods and commodities in domestic and international trade;</li>
                                        <li>Tenancy, labour and various small claims disputes.</li>
                                        </ul>

                                        <p>Our associated local partners have rights of audience before the local courts and the ability to practice the local laws in the jurisdiction. Our clients therefore rely on a combination of our cross-border skills and a multi-cultural approach coupled with the in-depth knowledge and expertise of our local partners.</p>
                                 </div>	
                                        
                                    </div>
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="tg-widget tg-imagewidget">
                                            <figure>
                                                <img src="../assets/images/broker.jpg" alt="image description">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                                <!-- row -->


                                <div class="row pb-30 ">
                                    <div class="col-sm-4 col-xs-12">
                                        <div class="tg-widget tg-imagewidget">
                                            <figure>
                                                <img src="../assets/images/sportslaw.jpg" alt="image description">
                                            </figure>
                                        </div>
                                    </div>
                                    <div class="col-sm-8 col-xs-12">
                                        <div class="tg-playcontent">
                                            <a href="#" class="tg-theme-tag">Sports Law</a>
                                            <h3><a href="#">Sports Law</a></h3>
                                            
                                        </div>
                                           <div class="tg-description">
                                        <p>Being avid sports fans, Team Linda Sports is particularly proud of its niche Sports Law practice. As one of the few firms in the region with a dedicated Sports Law practice we advise sports clubs, team owners, coaches and professional athletes on regulatory and anti-doping compliance, sports dispute resolution as well as a broad spectrum of commercial aspects in various sports. Our Team members have considerable experience in these services, being actively engaged.</p>
                                        <p><strong>Our scope of Sports Law services includes the following:
                                           </strong></p>
                                        <ul class="service-list">
                                        <li>Advising on disciplinary, anti-doping compliance;</li>
                                        <li>Representing professional athletes in contract negotiations, dealing with sponsors, asset planning and wealth;</li>
                                        <li>Management, advising on residence and tax issues;</li>
                                        <li>Drafting of endorsement, image licensing, broadcasting, sponsorship and merchandising agreements;</li>
                                        <li>Legal assistance in sports dispute resolution, including in CAS proceedings;</li>
                                        </ul>

                                        <p>With a deep understanding and true passion for sports, together with first-hand knowledge and extensive experience, Linda Sports is a trusted legal counsel of choice for a number of Committees, leagues, club owners and professional athletes.</p>
                                 </div>	
                                        
                                    </div>
                                </div>
                                <!-- row -->

                                


                            </div>
                        
                            
                            
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</main>